@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap'); 

/* ----------Heading */

* {
  box-sizing: border-box;
}

header {
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 10;
    position: fixed;
}

.logo {
    margin-top: 0;
    padding-top: 0;
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 40px;
    font-family: Karla;
    color: #fff;
    letter-spacing: 5px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.wrapper {
    width: 100%;
    margin: 10 auto;
}

.banner {
    width: 100%;
    height: 360px;
    position: fixed;
    top: 100px;
    background-image: url("../images/banner/HalseyMS1.png");
    background-size: cover;
    background-position: top;
}

.content {
  display: block;
overflow: auto;
    width: 100%;
    position: relative;
    top: 300px;
    background: #ddd;
}

.spare{
  height:100px;
}

.content h2 {
    font-family: Karla;
    letter-spacing: 4px;;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
    position: relative;
    padding: 0 10% 0 10%;
}

.content p {
    padding: 2% 0;
    font-family: Karla;
    line-height: 30px;
    position: relative;
    padding: 0 10% 0 10%;
}


.albumsawards {
    list-style-type: square;
    background-color: #ddd;
    padding: 10px 400px;
    position: relative;
    padding: 0 10% 0 10%;
}
    
.nav-link{
  color: #ccc;
  font-size: 20px;
  font-family: Karla;
  padding: 0 0 1px 0;
}

li {
  list-style: none;
}

ul .awards {
    white-space: nowrap;
}

/* ----------Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    color: #fff;
    background-color: #262626;
}

/* ----------Navbar Hover Effect (maybe?) */

nav {
    float: right;
    line-height: 100px;
    display: inline-flex;
    perspective-origin: relative;
}

nav a {
    text-decoration: none;
    font-family: Karla;
    letter-spacing: 6px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
    position: relative;
    left: 200px;
    bottom: 105px;
}

/* ----------Merchandise */

.merch {
   width: 100%;
}

/* ----------Form for newsletter in Booking.html */

form {
  border: 4px solid #ddd;
}

  .container {
  padding: 20px;
  background-color: #ddd;
  position: relative;
  }

  input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #2f2f2f;
  color: #fff;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/* ----------Gallery picture layout */

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

img.expand {
    width: 10em;
}

/* ----------Responsive Web Design */


